@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html {
  min-height: 100%;
}

body { 
  box-sizing: border-box;
 padding: 0;
 margin: 0;
overflow: hidden;
}


#load:nth-child(1) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border: 6px solid #000000;
    border-radius: 50%;
    border-top: 6px solid transparent;
    animation: animate1 1s infinite linear;
  }
  #load:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border: 6px solid #000000;
    border-radius: 50%;
    border-bottom: 6px solid transparent;
    animation: animate1 2s infinite linear;
  }
  #load:nth-child(3) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px; 
    border: 6px solid #000000;
    border-radius: 50%;
    border-bottom: 6px solid transparent;
    animation: animate2 1s infinite linear;
  }
  @keyframes animate1 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  @keyframes animate2 {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(-360deg);
    }
  }

  
  ul.transition {
    display: flex;
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -3rem;
    margin: 0;
    pointer-events: none; }
  
  ul.transition li {
    transform: scaleY(0);
    background-image: linear-gradient(to right bottom, black, black);
    width: 20%; }




section {
    background-color: #000000;
    background-image: radial-gradient(#11581E, #041607),
    url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P'; 
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
        overflow: hidden;
  height: 100vh;
}
.role {
    width: 150%;
    @media screen and (max-width: 1430px) {
        width: 120%;
    }

    @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {font-size: 1.5rem; text-align: center; transform: translateY(-30px);}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size: 1.5rem; text-align: center; transform: translateY(-30px);}
}

.name {
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {width: 200%; }
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) { width: 200%;}
    }


.noise {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: .02;
}

.overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background:
      repeating-linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0) 100%);
  background-size: auto 4px;
  z-index: 1;
}

.overlay::before {
  content: "";
  pointer-events: none;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      transparent 0%,
      rgba(32, 128, 32, 0.2) 2%,
      rgba(32, 128, 32, 0.8) 3%,
      rgba(32, 128, 32, 0.2) 3%,
      transparent 100%);
  background-repeat: no-repeat;
  animation: scan 5s linear 0s infinite;
}

@keyframes scan {
  0%        { background-position: 0 -100vh; } 
  35%, 100% { background-position: 0 100vh; }
}

.terminal {
  box-sizing: inherit;
  position: absolute;
  height: 100%;
  width: 1000px;
  max-width: 100%;
  padding: 4rem;
  text-transform: uppercase;

  @media screen and (max-width: 1200px) {
      max-width: 55%;
  }
  @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {font-size: .8rem; transform: translateY(20px);}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size: .8rem; transform: translateY(20px);}
}

.output {
  color: rgba(128, 255, 128, 0.8);
  text-shadow:
      0 0 1px rgba(51, 255, 51, 0.4),
      0 0 2px rgba(255, 255, 255, 0.8);


      &:hover {
          margin-left: 2rem;
      }
}

.output::before {
  content: "> ";
}

a {
  color: #fff;
  text-decoration: none;
}
 
a::before {

}

a::after {
 
}


//!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

#folder {
    font-size: .8rem;
    width: 90%;
    transform: translateX(6rem);
    color: rgb(238, 230, 230);
    padding:1rem;
    display: none;
    position: relative;
    left:5rem;
    top: -1rem;
    animation: slide-in-blurred-right .4s forwards;

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {font-size: 6px; transform: translateX(2rem); left: 2rem;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size: 6px; transform: translateX(2rem); left: 2rem;}

}

#folder2 {
    font-size: .8rem;
    width: 90%;
    transform: translateX(6rem);
    color: rgb(238, 230, 230);
    padding:1rem;
    display: none;
    position: relative;
    left:5rem;
    top: -1rem;
    animation: slide-in-blurred-right .4s forwards;

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {font-size: 6px;  transform: translateX(2rem); left: 2rem;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size: 6px;  transform: translateX(2rem); left: 2rem;}
}

#folder3 {
    font-size: .8rem;
    width: 90%;
    transform: translateX(6rem);
    color: rgb(238, 230, 230);
    padding:1rem;
    display: none;
    position: relative;
    left:5rem;
    top: -1rem;

    animation: slide-in-blurred-right .4s forwards;
}

#folder4 {
    font-size: .8rem;
    width: 90%;
    transform: translateX(6rem);
    color: rgb(238, 230, 230);
    padding:1rem;
    display: none;
    position: relative;
    left:5rem;
    top: -1rem;
    animation: slide-in-blurred-right .4s forwards;
}

#folder5 {
    font-size: .8rem;
    width: 90%;
    transform: translateX(6rem);
    color: rgb(238, 230, 230);
    padding:1rem;
    display: none;
    position: relative;
    left:5rem;
    top: -1rem;
    animation: slide-in-blurred-right .4s forwards;
}

#bio {
    font-size: .8rem;
    position: relative;
    top: -1rem;
    left: 1.6rem;
   width: 30%;
}

.btns {
    display: inline-block;
    margin-left: 1rem;
   
   &:hover {
       transform: scale(1.1);
   }
}

.slide-in-blurred-right{-webkit-animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both;animation:slide-in-blurred-right .6s cubic-bezier(.23,1.000,.32,1.000) both}

@-webkit-keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}@keyframes slide-in-blurred-right{0%{-webkit-transform:translateX(1000px) scaleX(2.5) scaleY(.2);transform:translateX(1000px) scaleX(2.5) scaleY(.2);-webkit-transform-origin:0 50%;transform-origin:0 50%;-webkit-filter:blur(40px);filter:blur(40px);opacity:0}100%{-webkit-transform:translateX(0) scaleY(1) scaleX(1);transform:translateX(0) scaleY(1) scaleX(1);-webkit-transform-origin:50% 50%;transform-origin:50% 50%;-webkit-filter:blur(0);filter:blur(0);opacity:1}}

.puff-out-center{-webkit-animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) both;animation:puff-out-center 1s cubic-bezier(.165,.84,.44,1.000) both}

@-webkit-keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}@keyframes puff-out-center{0%{-webkit-transform:scale(1);transform:scale(1);-webkit-filter:blur(0);filter:blur(0);opacity:1}100%{-webkit-transform:scale(2);transform:scale(2);-webkit-filter:blur(4px);filter:blur(4px);opacity:0}}

.errorcode {
  color: white;

}

.errorcode::after {
    content: "_";
    animation: blink-2 1s infinite;
    margin-left: 5px;
}

@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}

.personFound {
    opacity: .1;
    font-size: 8rem;
    position: relative;
    margin: 0;
    width: 150%;
    top: 24rem;
    left: -2.5rem;
    animation: blink 2s infinite;
    overflow: hidden;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  { font-size: 4rem; top: 35rem; left: 0rem;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {font-size: 2.1rem; width: 120%; left:-.5rem;}


@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size: 2.1rem; width: 120%; left:-.5rem;}




} 

@keyframes blink {
	0% {opacity: 0}
	49%{opacity: 0}
	50% {opacity: .1}
}


.exit {
    color: red;
    float: right;
    transform: translate(-3rem, 38rem);



    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {    transform: translate(-19rem, 48rem);    }

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {font-size: 1rem; text-align: center; margin-right: 6rem;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { font-size: 1rem; text-align: center; margin-right: 6rem; transform: translate(-3rem, 34rem)}

    }
    .exit2 {
        color: red;
        float: right;
        transform: translate(-3rem, 45rem);
    

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {        transform: translate(-1rem, 2rem);  }

        @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 812px)
        and (-webkit-device-pixel-ratio : 3) {font-size: 1rem; text-align: center; margin-right: 6rem; transform: translate(-3rem, 39rem)}
    
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) { font-size: 1rem; text-align: center; margin-right: 6rem; transform: translate(-3rem, 39rem)}
    
        }
 

#icon2 {
   position: absolute;
    top:-1rem;
    left: 8rem;
    transform: scale(2);
  
    font-size: 1rem;
    color:rgb(255, 255, 255);
    z-index: 3;

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {font-size:6px; left: 0; margin: 0; display: none; left: 5rem; width: 20%}

    @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {display:none}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {display:none}
}

#icon3{
    position: absolute;
     top:-1rem;
     left: 8rem;
     transform: scale(2);
   
     font-size: 1rem;
     color:rgb(255, 255, 255);
     z-index: 3;

     @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {display:none}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {display:none}
 }
 #icon4 {
    position: absolute;
     top:-1rem;
     left: 8rem;
     transform: scale(2);
   
     font-size: 1rem;
     color:rgb(255, 255, 255);
     z-index: 3;

     @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {display:none}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {display:none}
 }

#wrapper {
    display: none;
    overflow: hidden;
}


.bio {
   width: 29%;
    font-size: .75rem;
display: inline-block;
margin-right: 2rem;
position: relative;
left: 2.2rem;

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  {font-size:6px; left: 0; margin: 0; }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) {font-size:4px; left: 0; margin: 0;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {font-size:4px; left: 0; margin: 0;}
}


.bio2 {
    width: 29%;
     font-size: .73rem;
 display: inline-block;
 position: relative;
 top: 5rem;
 left: -18rem;

 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px)  {font-size:6px; left: 0; margin: 0; }

 @media only screen 
 and (min-device-width : 375px) 
 and (max-device-width : 812px)
 and (-webkit-device-pixel-ratio : 3) {font-size:4px; left: 0; margin: 0;}
 
 @media only screen 
 and (min-device-width : 375px) 
 and (max-device-width : 667px) {font-size:4px; left: 0; margin: 0; top: 1.5rem; left: -3rem;}
 }


 #foldername {
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {transform: translateX(-2.3rem); }
    
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {transform: translateX(-2.3rem);}
 }



#backg {
    background-color: #000000;
    background-image: radial-gradient(#11581E, #041607),
    url("https://media.giphy.com/media/oEI9uBYSzLpBK/giphy.gif");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P'; 
    font-size: 1.5rem;
    color: rgba(128, 255, 128, 0.8);
    text-shadow:
        0 0 1ex rgba(51, 255, 51, 1),
        0 0 2px rgba(255, 255, 255, 0.8);
        overflow: hidden;
  height: 100vh; 
}


.code {
    color: rgb(30, 255, 0);
    padding-right: 40px;
    position: relative;
    top: 20px;
    left:10px;
    font-style: unset;

    &:hover {
        color: white;
    }
}


  #user {
    text-align: center;
   transform: translateY(16rem);
   color: rgb(6, 24, 6);
    font-size: 1.4rem;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }






.about {
    font-size: 1rem;
    margin: 2rem;
    width: 120%;

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {font-size: 7px; }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { font-size: 7px;}
}


      video {
          opacity: .6; 
          
          &:hover {
opacity: 1;        }
      
      }


      .wrap {
        font-size: 20px;
        font-family: sans-serif;
        color: rgb(0, 0, 0);
        background-color: transparent;
        text-align: center;
      }

#pageproj {
    overflow: unset !important;
    height: 150vh !important;
}

video::-webkit-media-controls {
    display:none !important;
  }

  video {

    @media only screen 
    and (min-device-width : 768px) 
    and (max-device-width : 1024px)  {  width:120px; height: 100px;  }


    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {width:50px; height: 100px; }

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {width: 60px; height: 70px; transform:translateX(-2rem);}
  }


  .hover {
      font-size: 8px;
      float: left;
      width: 0%;
      
      position: relative;
      left:-3rem;
      top:5rem;
      color: rgba(128, 255, 128, 0.8);

  }

 #fold {
     
    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 812px)
    and (-webkit-device-pixel-ratio : 3) {margin-top:2rem;}

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { margin-top:2em; text-align: center; transform: translateX(-1rem);}
 }



 
 
 .icongit {
   color: rgb(119, 206, 119);

   &:hover {
     color: white;
   }
 }

 .iconlink {
  color: rgb(119, 206, 119);

  &:hover {
    color: white;
  }
}